.root{
    display: flex;
    align-items: center;
}

.bankHeader{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    border-radius: 50%;
    margin-right: 20px;
}

.logo{
    margin-right: 20px;
}