.headerData{
    display: flex;
    justify-content: space-between;
}

.headerData h3, h1{
    margin: 0;
}

.dataBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dataBlock span{
    font-weight: bold;
}