.menuLayout{
    background-color: #1f2937!important;
    color: #7e8b9c!important;
}

.headerContainer{
    margin-left: 24px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.titleContainer{
    height: 40px;
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: space-between;
}

.pageInfoContainer{
    height: 40px;
    display: flex;
    align-items: center;
}

.pageInfoContainer p{
    color: #7e8b9c;
    margin-top: 10px;
}

.titleContainer h1{
    height: 14px;
}

.languageIndicator{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #e9eaec;
    cursor: pointer;
    font-weight: bold;
}

.userDataContainer{
    display: flex;
    align-items: center;
}

.userShortName {
    height: 30px;
    width: 30px;
    background: black;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}

.header{
    font-size: 20px;
    margin-bottom: 10px;
}

.pageHeaderTextRoot{
    font-size: 25px;
    padding: 10px 20px 20px 20px;
    display: flex;
    cursor: pointer;
    font-weight: bold;
}

.bellIcon{
    font-size: 20px;
    margin-left: 35px;
}

.userName{
    color: #798595;
    margin-left: 10px;
}

.mainDescription{
    padding: 15px;
    border-radius: 5px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 160px;
}

.shortInfoContent{
    margin: 16px;
    min-height: 60px;
    max-width: 440px;
    border-radius: 5px;
}

.logoDescription{
    position: absolute;
    right: 5%;
    top: 15%;
    font-size: 20px;
    color: #7e8b9c;
}

.rootDescriptionData{
    padding: 15px;
    position: relative;
}

.contentStyles{
    margin: 16px;
    width: 50%;
}

.separateContent{
    padding: 24px;
    background: #ffffff;
    border-radius: 5px;
}


h1{
    margin: 0;
}

p{
    margin: 0;
}